
<div *ngIf="productCategory">
    <h2><span jhiTranslate="delcampoApp.productCategory.detail.title">Product Category</span> {{productCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="delcampoApp.productCategory.productCategoryName" [ngbTooltip]="'delcampoApp.productCategory.help.productCategoryName' | translate">Product Category Name</span></dt>
        <dd>
            <span>{{productCategory.productCategoryName}}</span>
        </dd>
        <dt><span jhiTranslate="delcampoApp.productCategory.productCategoryEnabled" [ngbTooltip]="'delcampoApp.productCategory.help.productCategoryEnabled' | translate">Product Category Enabled</span></dt>
        <dd>
            <span>{{productCategory.productCategoryEnabled}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product-category/'+ productCategory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
