<div>
    <h2>
        <span jhiTranslate="delcampoApp.priceList.home.title">Price Lists</span>
        <button class="btn btn-primary float-right jh-create-entity create-price-list" [routerLink]="['/', { outlets: { popup: ['price-list-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="delcampoApp.priceList.home.createLabel">
            Create new Price List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'delcampoApp.priceList.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="priceLists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="delcampoApp.priceList.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="delcampoApp.priceList.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="delcampoApp.priceList.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currency"><span jhiTranslate="delcampoApp.priceList.currency">Currency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productName"><span jhiTranslate="delcampoApp.priceList.product">Product</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let priceList of priceLists ;trackBy: trackId">
                <td><a [routerLink]="['../price-list', priceList.id ]">{{priceList.id}}</a></td>
                <td>{{priceList.startDate | date:'medium'}}</td>
                <td>{{priceList.endDate | date:'medium'}}</td>
                <td>{{priceList.price}}</td>
                <td jhiTranslate="{{'delcampoApp.Currency.' + priceList.currency}}">{{priceList.currency}}</td>
                <td>
                    <div *ngIf="priceList.productId">
                        <a [routerLink]="['../product', priceList.productId  ]" >{{priceList.productName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <!-- <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../price-list', priceList.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'price-list/'+ priceList.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'price-list/'+ priceList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div> -->
                    <div class="d-flex justify-content-around">
                        <div [routerLink]="['../price-list', priceList.id ]" class="buttons-options">
                            <span class="fa fa-eye"></span>
                        </div>
                        <div [routerLink]="['/', { outlets: { popup: 'price-list/'+ priceList.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge" class="buttons-options">
                            <span class="fa fa-pencil"></span>
                        </div>
                        <div [routerLink]="['/', { outlets: { popup: 'price-list/'+ priceList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge" class="buttons-options">
                            <span class="fa fa-trash"></span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="priceLists && priceLists.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
