<div class="MainContent">
  <ul class="cb-slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li> 
    <li><span>Image 06</span></li> 
    <div class="container content-slideshow">
      <div class="row mt-5">
        <div class="col-lg-9 col-md-8 col-sm-6 d-flex flex-column justify-content-center aling-items-center content-slide">
          <h1 class="text-white text-left mb-2 font-weight-bold animated slideInLeft">Descarga nuestra App Del CAMPO</h1>
          <p class="lead text-white animated slideInLeft">Adquiere productos saludables a través de nuestra App móvil.</p>
          <button class="btn btn-outline-light slideButton animated slideInLeft"><h3 class="display-5 m-0">Descargala ahora</h3></button>
          <img src="../../../content/images/appStores.png" alt="appStores" height="40" width="305" class="position-relative imgAppStores animated fadeInUp">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 content-cellphone">
            <img src="../../../content/images/celular.png" alt="Logo Inicio" heigth="520" width="220" class="position-relative opacity animated fadeInRight first-cellphone">
            <div class="position-absolute slideImgLogo animated fadeInRight">
              <img src="../../../content/images/DelcampoPhone.png" alt="logo" height="378" width="278">
            </div>
            <img src="../../../content/images/appStores.png" alt="appStores" height="40" width="305" class="position-relative imgAppStores animated bounce second-cellphone">
            <img src="../../../content/images/celularResponsive.png" alt="Logo Inicio" heigth="520" width="220" class="animated bounce second-cellphone">
        </div>
      </div>
    </div>
  </ul>
</div>

