
<div *ngIf="image">
    <h2><span jhiTranslate="delcampoApp.image.detail.title">Image</span> {{image.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="delcampoApp.image.imageName" [ngbTooltip]="'delcampoApp.image.help.imageName' | translate">Image Name</span></dt>
        <dd>
            <span>{{image.imageName}}</span>
        </dd>
        <dt><span jhiTranslate="delcampoApp.image.image" [ngbTooltip]="'delcampoApp.image.help.image' | translate">Image</span></dt>
        <dd>
            <div *ngIf="image.image">
                <a (click)="openFile(image.imageContentType, image.image)">
                    <img [src]="'data:' + image.imageContentType + ';base64,' + image.image" style="max-width: 100%;" alt="image image"/>
                </a>
                {{image.imageContentType}}, {{byteSize(image.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="delcampoApp.image.product">Product</span></dt>
        <dd>
            <div *ngIf="image.productId">
                <a [routerLink]="['/product', image.productId]">{{image.productId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="delcampoApp.image.recipe">Recipe</span></dt>
        <dd>
            <div *ngIf="image.recipeId">
                <a [routerLink]="['/recipe', image.recipeId]">{{image.recipeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'image/'+ image.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
