@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
  }

body {
  font-size: 0.9rem;
  background-color: #efefef;
  padding-bottom: 50px; }

a {
    color: #0ca4ca;
    text-decoration: none;
}

