<div>
    <h2>
        <span jhiTranslate="delcampoApp.deliveryRoute.home.title">Delivery Routes</span>
        <button class="btn btn-primary float-right jh-create-entity create-delivery-route" [routerLink]="['/', { outlets: { popup: ['delivery-route-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="delcampoApp.deliveryRoute.home.createLabel">
            Create new Delivery Route
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'delcampoApp.deliveryRoute.home.search' | translate }}">
                    <button class="input-group-append btn btn-success" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="deliveryRoutes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span jhiTranslate="delcampoApp.deliveryRoute.createDate">Create Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="scheduleDate"><span jhiTranslate="delcampoApp.deliveryRoute.scheduleDate">Schedule Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vehicleReferenceVehicle"><span jhiTranslate="delcampoApp.deliveryRoute.vehicle">Vehicle</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="driverLogin"><span jhiTranslate="delcampoApp.deliveryRoute.driver">Driver</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deliveryRoute of deliveryRoutes ;trackBy: trackId">
                <td><a [routerLink]="['../delivery-route', deliveryRoute.id ]">{{deliveryRoute.id}}</a></td>
                <td>{{deliveryRoute.createDate | date:'medium'}}</td>
                <td>{{deliveryRoute.scheduleDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="deliveryRoute.vehicleId">
                        <a [routerLink]="['../vehicle', deliveryRoute.vehicleId  ]" >{{deliveryRoute.vehicleReferenceVehicle}}</a>
                    </div>
                </td>
                <td>
                    {{deliveryRoute.driverLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../delivery-route', deliveryRoute.id ]"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delivery-route/'+ deliveryRoute.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delivery-route/'+ deliveryRoute.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="deliveryRoutes && deliveryRoutes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
