.main-sidebar {
    top: 50px;
    left: 0;
    width: 250px;
    z-index: 1000;
    background: #EAF2E5;
    margin-top: 0;
    position: fixed;
    overflow-y:auto;
    transition:width .5s;
    bottom: 0;
}

.main-sidebar:focus{
  background-color: #96C300;
}

.sidebar-inner #sidebar-menu ul ul a{
    padding: 15px 15px 15px 30px;
    font-size:0.90rem;
}

.reduceSide {
    width: 70px;
}

.reduceSide .sidebar-inner #sidebar-menu span {
    display: none;
}

.reduceSide .sidebar-inner #sidebar-menu li a {
    text-align: center;
    padding: 15px 20px;
}

.reduceSide .sidebar-inner #sidebar-menu li a i {
    font-size: 22px;
}

.reduceSide .sidebar-inner #sidebar-menu ul ul a{
    padding: 15px 20px;
}

.extendedSide {
    width: 250px;
}

.extendedSide .sidebar-inner #sidebar-menu span {
    display: inline-block;
}

.extendedSide .sidebar-inner #sidebar-menu li a {
    text-align: left;
    padding: 12px 12px 15px;
}
.extendedSide .sidebar-inner #sidebar-menu ul ul a{
    padding: 15px 15px 15px 30px;
}

.extendedSide .sidebar-inner #sidebar-menu li a i {
    font-size: 18px;
}

.extendedSide .sidebar-inner #sidebar-menu > ul > li > a.active > i{
  margin-right:19px;
}

.main-sidebar.left {
    position: fixed;
}

body.adminbody .main-sidebar.left {
    bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.sidebar-inner {
    min-height: calc(160 - 100vh);
}

#sidebar-menu,
#sidebar-menu a,
#sidebar-menu li,
#sidebar-menu ul {
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

#sidebar-menu {
    padding-bottom: 30px;
    width: 100%;
}

#sidebar-menu a {
    line-height: 1.3;
}

#sidebar-menu ul li .menu-arrow {
    -webkit-transition: -webkit-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    transition: transform 0.15s;
    position: absolute;
    right: 20px;
    top: 15px;
    display: inline-block;
    font-family: 'FontAwesome';
    text-rendering: auto;
    line-height: 18px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#sidebar-menu ul li .menu-arrow:before {
    content: "\f105";
}

.arrowDown {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg) !important;
}

.arrowRight{
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) !important;
}

#sidebar-menu ul ul {
    display: none;
}

#sidebar-menu ul ul li {
    border-top: 0;
}

#sidebar-menu ul ul li.active a {
    color: #f3f3f3;
}

#sidebar-menu ul ul a {
    color: #005D00;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
    padding: 10px 20px 10px 60px;
}

#sidebar-menu ul ul a:hover {
    color: #009D00;
}

#sidebar-menu ul ul a i {
    margin-right: 5px;
}

#sidebar-menu ul ul ul a {
    padding-left: 80px;
}

#sidebar-menu .label {
    margin-top: 2px;
}

#sidebar-menu .subdrop {
    color: #fff !important;
    background-color: #414d58;
    border-left: 2px solid #608ab3;
}

#sidebar-menu .submenu ul .submenu .menu-arrow {
    top: 10px !important;
    position: absolute;
}

#sidebar-menu > ul > li > a {
    display: block;
    padding: 12px 12px 15px;
    font-weight: 400;
    font-size: 0.90rem;
    border-left: 2px solid transparent;
    color: #005D00;
}

#sidebar-menu > ul > li > a:hover {
    color: #FFF !important;
    background-color: #009D00 !important;
    text-decoration: none;
    border-left: 2px solid #005D00;
}

#sidebar-menu > ul > li > a > span {
    vertical-align: middle;
    position: absolute;
    white-space: nowrap;
    letter-spacing: nowrap;
}

#sidebar-menu ul li a i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

#sidebar-menu ul li a .drop-arrow {
    float: right;
}

#sidebar-menu ul li a .drop-arrow i {
    margin-right: 0;
}

#sidebar-menu > ul > li > a.active {
    color: #ffffff !important;
    background-color: #007D00;
}

#sidebar-menu > ul > li > a.active:hover{
    background-color: #007D00 !important;
}

.ul-activo{
  display: block!important;
}

.ul-disable{
  display: none!important;
}

.activo{
  background-color: #009D00 !important;
  color: #FFF !important;
  border-left: 2px solid #005D00 !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #EAF2E5;
}

::-webkit-scrollbar-thumb {
    background: #f8f9fa; 
}
