.content-page {
    margin-left: 250px;
    overflow: hidden;
    transition: margin-left .5s; 
}

.reduceSide {
    margin-left: 70px;
}

.extendedSide {
    margin-left: 250px;
}

.content-page .content {
    padding: 0 5px;    
}

.card-box {
    padding: 20px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(183,183,183,.125);
}

.card-box i {
    font-size: 80px;
    margin-top: 20px;
}

.card-header {
    color: #6b6b6b;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(111,111,111,.13);
}

.card-header h3 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
    margin-bottom: 0;
}
