<div>
    <h2>
        <span jhiTranslate="delcampoApp.recipeItem.home.title">Recipe Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-recipe-item" [routerLink]="['/', { outlets: { popup: ['recipe-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="delcampoApp.recipeItem.home.createLabel">
            Create new Recipe Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'delcampoApp.recipeItem.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="recipeItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productNameText"><span jhiTranslate="delcampoApp.recipeItem.productNameText">Product Name Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="delcampoApp.recipeItem.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="measurementUnit"><span jhiTranslate="delcampoApp.recipeItem.measurementUnit">Measurement Unit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productName"><span jhiTranslate="delcampoApp.recipeItem.product">Product</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recipeItem of recipeItems ;trackBy: trackId">
                <td><a [routerLink]="['../recipe-item', recipeItem.id ]">{{recipeItem.id}}</a></td>
                <td>{{recipeItem.productNameText}}</td>
                <td>{{recipeItem.quantity}}</td>
                <td jhiTranslate="{{'delcampoApp.MeasurementUnit.' + recipeItem.measurementUnit}}">{{recipeItem.measurementUnit}}</td>
                <td>
                    <div *ngIf="recipeItem.productId">
                        <a [routerLink]="['../product', recipeItem.productId  ]" >{{recipeItem.productName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../recipe-item', recipeItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recipe-item/'+ recipeItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recipe-item/'+ recipeItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="recipeItems && recipeItems.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
