.Register{
  padding-top: 4em;
  min-height:calc(100vh - 150px);
  height:500px;
  // background: 
  // url('../../../content/images/Agricultor_Cosechando.png')  5% 70% no-repeat ,
  // url('../../../content/images/Agricultora_Cosechando.png') 95% 70% no-repeat;
  // background-size: 330px 300px;
}
