<div>
    <h2>
        <span jhiTranslate="delcampoApp.discountList.home.title">Discount Lists</span>
        <button class="btn btn-primary float-right jh-create-entity create-discount-list" [routerLink]="['/', { outlets: { popup: ['discount-list-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="delcampoApp.discountList.home.createLabel">
            Create new Discount List
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'delcampoApp.discountList.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="discountLists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="delcampoApp.discountList.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="delcampoApp.discountList.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="discount"><span jhiTranslate="delcampoApp.discountList.discount">Discount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productName"><span jhiTranslate="delcampoApp.discountList.product">Product</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let discountList of discountLists ;trackBy: trackId">
                <td><a [routerLink]="['../discount-list', discountList.id ]">{{discountList.id}}</a></td>
                <td>{{discountList.startDate | date:'medium'}}</td>
                <td>{{discountList.endDate | date:'medium'}}</td>
                <td>{{discountList.discount}}</td>
                <td>
                    <div *ngIf="discountList.productId">
                        <a [routerLink]="['../product', discountList.productId  ]" >{{discountList.productName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../discount-list', discountList.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'discount-list/'+ discountList.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'discount-list/'+ discountList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="discountLists && discountLists.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
