<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title text-success font-weight-bold" id="myStateProvinceLabel" jhiTranslate="delcampoApp.stateProvince.home.createOrEditLabel">Create or edit a State Province</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stateProvince.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stateProvince.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="delcampoApp.stateProvince.stateName" for="field_stateName" [ngbTooltip]="'delcampoApp.stateProvince.help.stateName' | translate">State Name</label>
            <input type="text" class="form-control" name="stateName" id="field_stateName"
                [(ngModel)]="stateProvince.stateName" required maxlength="100" pattern="[0-9a-zA-Z áéíóúÁÉÍÓÚÑñ]*"/>
            <div [hidden]="!(editForm.controls.stateName?.dirty && editForm.controls.stateName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stateName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stateName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stateName?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'State Name' }">
                    This field should follow pattern for "State Name".
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="delcampoApp.stateProvince.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="stateProvince.countryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.countryName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
