
<div *ngIf="stateProvince">
    <h2><span jhiTranslate="delcampoApp.stateProvince.detail.title">State Province</span> {{stateProvince.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="delcampoApp.stateProvince.stateName" [ngbTooltip]="'delcampoApp.stateProvince.help.stateName' | translate">State Name</span></dt>
        <dd>
            <span>{{stateProvince.stateName}}</span>
        </dd>
        <dt><span jhiTranslate="delcampoApp.stateProvince.country">Country</span></dt>
        <dd>
            <div *ngIf="stateProvince.countryId">
                <a [routerLink]="['/country', stateProvince.countryId]">{{stateProvince.countryCountryName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'state-province/'+ stateProvince.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
